<app-exibition-item [exibition]="exibitionDetail" [showEditButton]="!edit" (editClicked)="onEditClicked()"></app-exibition-item>

<!-- Lista umetnickih dela -->
<div class="row" *ngIf="!edit">
  <div class="col-6" *ngFor="let artworkItem of exibitionArtworks">
    <div class="card" style="width: 100%; margin: 2px 0px;">
      <div class="card-body">
        <div>
          <h5 class="card-title">{{artworkItem.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{artworkItem.author}} - {{artworkItem.beginYear}} - {{artworkItem.endYear}}</h6>
          <p class="card-text">{{artworkItem.medium}}</p>
        </div>
        <div class="imageBox">
          <img src="http://localhost:3000/image/{{artworkItem.imageId}}.jpg" alt="photo">
        </div>
      </div>
    </div>
  </div>
</div><br>

<div class="row" *ngIf="edit">
  <div class="col">
      <app-exibition-edit 
      [freeArtworks]="freeArtworks" 
      [exibitionId]="exibitionId" 
      [exibitionArtworks]="exibitionArtworks" 
      (doneClicked)="onDoneClicked()" 
      (search)="onSearch($event)"></app-exibition-edit>
  </div>
</div>

